# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=AppName

# ImgBB API Key
IMGBB_API_KEY=your_imgbb_api_key_here

# App URL (for QR code generation)
NEXT_PUBLIC_APP_URL=http://localhost:3000
